@if (themeGuide$ |async; as theme) {
  
<div class="theme-container">

  <header class="theme-header">
    <h1 class="theme-title">{{ theme.themeName }}</h1>
    <p class="theme-meta">
      Created by <strong>{{ theme.userId.username }}</strong> 
      on {{ theme.created_at | date:'medium' }}
      ({{ theme.created_at | timeAgo }})
    </p>
  </header>

  <section class="posts-section">
    <h2 class="posts-title">Posts</h2>
    <ul class="posts-list">
      @for (post of theme?.posts; track post._id) {
      <li class="post-card">
        <p class="post-text">{{ post.text }}</p>
        <p class="post-meta">
           <strong>{{ post.userId.username }}</strong> 
          on {{ post.created_at | date:'medium' }}
        </p>
      </li>
    }
    </ul>
  </section>
</div>
}